* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
}

.course-overview h1{
    font-size: 30px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a, .user, .next-button {
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 157, 193); 
}

nav .user, .user, .next-button {
    background-color: rgb(245, 195, 98);
    color: rgb(25, 13, 48);
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.course-overview, .course-info, .lessons {
    text-align: center;
    padding: 0 15px;
}

.course-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-overview img, .lesson-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.course-info h1, .lessons h2, .lesson-info h4 {
    margin-bottom: 0.5rem;
    color: rgb(7, 21, 47);
}

.course-info p, .lesson-info p {
    margin-bottom: 1rem;
    color: #555;
}

.lessons{
padding: 10px 150px;
}

.lesson-list {
    display: block;
    gap: 2rem;
}

.lesson-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    margin: 10px auto;
    width: 90%; 
    border: 1px solid #ddd;
}

.lesson-item img {
    flex-shrink: 0; 
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px; 
}

.lesson-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: space-between;
    width: 100%; 
}

.status, .minutos, .percentage {
    margin-top: 5px; 
}

.progress-container {
    width: 200px;
    background-color: #eee;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    display: block; 
    height: 100%;
    background-color: rgb(116, 112, 112);
    width: 80%; 
    position: relative;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        font-size: 20px;
    }

    .courses-grid {
        padding: 10px;
     
    }

    .course-overview {
        flex-direction: column;
        text-align: center;
    }

    .lessons {
        padding: 1rem 0;
    }

    .logo{
        font-size: 30px;
        padding: 20px;
    }
}

@media (max-width: 426px) {
    .container, nav ul, .lesson-item {
        display: flex;
        flex-direction: column;
    }

    .container, .lesson-info {
        align-items: center;
        text-align: center;
    }

    .logo, nav ul, .lesson-info {
        margin: 0 auto;
        padding: 20px; 
    }

    nav {
        width: 200px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav li {
        border: 2px solid rgb(48, 157, 193);
        border-radius: 15px;
        padding: 10px;
        margin: 5px 0;
    }

    nav a, nav .user {
        color: #000;
        text-decoration: none;
        display: block;
        font-size: 14px;
    }
    
    .progress-container {
        width: 100%;
        height: 8px; 
    }

    .progress-bar {
        display: block;
        height: 100%;
        background-color: rgb(116, 112, 112); 
        width: 80%; 
    }
}

